:root {
  --bg: #f9f9f9;
  /* varm ljusgrå */
  --fg: #ffffff;
  /* mörkgrå text */
  --muted: #ffffff;
  /* sekundär text */
  --accent: #ffffff;
  /* dämpad blågrå */
}

body {
  margin: 0;

  background: var(--bg);
  background-image: url("images/bg2.jpg");
  background-size: cover;
  background-position: center bottom -300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  color: var(--fg);
  font-family: 'Times New Roman', Times, serif;
  min-height: 80svh;
  display: grid;
  place-items: center;
}

main {
  padding: 24px;
  width: min(72ch, 92vw);
  line-height: 1.55;
  letter-spacing: 0.1px;
}

h1 {
  text-align: center;
  font-size: 1.05rem;
  font-weight: 700;
  margin: 0.10rem 0 0.95rem 0;
}

h2 {
  color: var(--muted);
  font-size: 1.02rem;
  font-weight: 500;
  margin: 0.35rem 0 0.25rem 0;
}

p {
  color: var(--muted);
  font-size: 1.02rem;
  text-align: center;
  hyphens: auto;
  margin: 0 0 1.0rem 0;
}

a {
  color: var(--accent);
  text-decoration: none;
  border-bottom: 1px solid color-mix(in srgb, var(--accent) 35%, transparent);
}

a:hover {
  border-bottom-color: var(--accent);
}

.content {

  animation: fade-in 15000ms ease-out forwards;
  opacity: 0;
  background-color: rgb(90, 108, 104);
  margin-bottom: -400px
}


.section-title {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 0 0 0 0;
}


.links {
  margin-top: 0.90rem;
}

.dot {
  color: var(--muted);
}


@keyframes fade-in {
  to {
    opacity: 5;
  }
}

@media (max-width: 768px) {
  body {
    background-position: center top;
    background-attachment: fixed;
    overflow-x: auto;

  }
}